<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="authorization">
  <span class="authorization__header">Please, enter your name</span>
  <label class="authorization__name">Your name:
    <input
      required
      formControlName="name"
      type="text"
      class="authorization__input">
  </label>
  <span class="authorization__error" *ngIf="!authorizationComplete">User not found!</span>
  <button type="submit" [disabled]="userForm.invalid" class="authorization__button">Sign in</button>
</form>
