<header>
  <div class="logo">
    <a href="" class="logo__link">
      <img src="" alt="" class="logo__link--item">
    </a>
  </div>
  <nav>
    <ul class="navigation">
      <li class="navigation__item"><a class="navigation__item--text">About</a></li>
      <li class="navigation__item"><a routerLink="/users" class="navigation__item--text">Users</a></li>
      <li class="navigation__item"><a class="navigation__item--text">Sign out</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
<app-messages></app-messages>
<footer>
  <div class="logo">
    <a href="" class="logo__link">
      <img src="" alt="" class="logo__link--item">
    </a>
  </div>
  <nav>
    <ul class="navigation">
      <li class="navigation__item"><a class="navigation__item--text">About</a></li>
      <li class="navigation__item"><a class="navigation__item--text">Sign out</a></li>
    </ul>
  </nav>
</footer>
