app-user{
  display: block;
  padding: 20px 40px;
  margin-bottom: 20px;
}

.users{
  margin-bottom: 60px;
}

.user{
  margin-bottom: 30px;
}

.user__header{
  margin: 10px 40px;
}

.user__id, .user__name{
  margin: 10px 40px;
}
